<div class="msds-padding">
<div class="msds-section-one">
      <div class="msds-overlay">
        <div class="msds-hack">
        <div class="msds-left">
          <h1><span>M.S.D.S</span> Database</h1><br>
          <p>Search for material satey data sheets to all our products</p>
        </div>
        <div class="msds-right">
          <span>Scroll or skip to</span><div class="btn-group">
            <button class="btn btn-danger">Product Category</button>
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#HeavyDuty">Heavy Duty</a></li>
              <li><a href="#Sanitize">Sanitizer</a></li>
              <li><a href="#FoamFresh">Foam Fresh</a></li>
              <li><a href="#GeneralPurpose">General Purpose</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<div class="msds-container">
  <!-- msds section one -->
  <div class="msds-Heavy">
    <a name="HeavyDuty"><h1>Heavy Duty</h1></a>
    <ul>
      <li><h4>Pk Soyl Industrial Hand Cleaner</h4>
        <span><%= link_to "Download PDF",'MSDS1.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Pk Soyl Industrial Hand Cleaner Cherry</h4>
        <span><%= link_to "Download PDF", '/MSDS2.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Pow'rkleen Medicated Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS3.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Pow'rkleen Pumice Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS4.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Pow'rkleen Orange Scent Medicated Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS5.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Pow'rkleen Orange Scent Pumice Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS6.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>PK Force Industrial Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS7.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>PK Force Industrial Pumice Hand Cleaner</h4>
        <span><%= link_to "Download PDF", '/MSDS8.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>PK Lemon Drop Antiseptic Lotion Soap</h4>
        <span><%= link_to "Download PDF", '/MSDS9.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Derma 1 Lemon Drop</h4>
        <span><%= link_to "Download PDF", '/MSDS10.pdf', :target => "_blank" %></span>
      </li>
    </ul>
  </div>
  <!-- sanitizers -->
  <div class="msds-Sani">
    <a name="Sanitize"><h1>Sanitizers</h1></a>
    <ul>
      <li><h4>PK Pink Antibacterial Gentle Lotion Soap</h4>
        <span><%= link_to "Download PDF", '/MSDS11.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Derma 1 Health Care</h4>
        <span><%= link_to "Download PDF", '/MSDS12.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Foam Fresh Alco Foam Instant Skin Sanitizer</h4>
        <span><%= link_to "Download PDF", '/MSDS17.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Instant Gel Skin Sanitizer</h4>
        <span><%= link_to "Download PDF", '/MSDS18.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Foam Fresh E2 Foam Sanitizer Soap</h4>
        <span><%= link_to "Download PDF", '/MSDS20.pdf', :target => "_blank" %></span>
      </li>
    </ul>
  </div>
  <!-- Foam fresh -->
  <div class="msds-Foam">
    <a name="FoamFresh"><h1>Foam Fresh</h1></a>
    <ul>
      <li><h4>PK Foam Fresh Hand Wash</h4>
        <span><%= link_to "Download PDF", '/MSDS13.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>PK Foam Fresh Antibacterial Hand Wash</h4>
        <span><%= link_to "Download PDF", '/MSDS14.pdf', :target => "_blank" %></span>
      </li>
      <li><h4>Foaming Hand & Body Wash</h4>
        <span><%= link_to "Download PDF", '/MSDS15.pdf', :target => "_blank" %></span>
      </li>
    </ul>
  </div>
  <!-- um.. general purpose -->
  <div class="General">
    <a name="GeneralPurpose"><h1>General Purpose</h1></a>
    <ul>
      <li><h4>Pk General Purpose Filler</h4>
        <span><%= link_to "Download PDF", '/MSDS15.pdf', target: "_blank" %></span>
      </li>
    </ul>
  </div>
</div>
