<%= simple_form_for(@dispenser, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <div class="new-woodbine-dispenser">
    <div class="dispenser-header">
      <%= f.input :name, label: "Dispenser Name", class: "disp-name-input" %>
      <%= f.input :stock, clas: "disp-stock-input" %>
    </div>
    <%= f.input :description %>
    <%= f.input :case %>
    <%= f.input :weight %>
    <%= f.input :image %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
<% end %>
