<h1>Listing dispensers</h1>

<table>
  <tr>
    <th>Stock</th>
    <th>Name</th>
    <th>Description</th>
    <th>Case</th>
    <th>Weight</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispensers.each do |dispenser| %>
  <tr>
    <td><%= dispenser.stock %></td>
    <td><%= dispenser.name %></td>
    <td><%= dispenser.description %></td>
    <td><%= dispenser.case %></td>
    <td><%= dispenser.weight %></td>
    <td><%= dispenser.image %></td>
    <td><%= link_to 'Show', dispenser %></td>
    <td><%= link_to 'Edit', edit_dispenser_path(dispenser) %></td>
    <td><%= link_to 'Destroy', dispenser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dispenser', new_dispenser_path %>
