<div class="woodbine-product-list">
  <% @dispensers.each do |dispenser| %>
    <div class="product-select">
      <%= image_tag dispenser.image_url.to_s, class: "results-image" %>
      <div class="product-select-info">
        <h4><%= dispenser.name %></h4>
        <p><%= dispenser.description %></p>
    <%= dispenser.name %>
    <%= dispenser.description %>
  </div>
    <%= link_to 'Edit', edit_dispenser_path(dispenser) %>
    <%= link_to 'Destroy', dispenser, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </div>
  <% end %>
  <%= will_paginate @dispensers %>
</div>


