<section class="woodbine-show-product">
  <p id="notice"><%= notice %></p>
  <div class="woodbine-show-product-left">
    <%= image_tag @dispenser.image_url.to_s, class: "product-image" %>
  </div>
  <div class="woodbine-show-product-right">
    <div class="product-bar">
      <span class="brand"><%= @dispenser.name %></span>
    </div>
    <p><%= @dispenser.description %></p>
    Stock:
    <p><%= @dispenser.stock %></p>
    Case:
    <p><%= @dispenser.case  %></p>
    Weight:
    <p><%= @dispenser.weight %></p>
  </div>

</section>


