<p id="notice"><%= notice %></p>

<p>
  <b>Stock:</b>
  <%= @dispenser.stock %>
</p>

<p>
  <b>Name:</b>
  <%= @dispenser.name %>
</p>

<p>
  <b>Description:</b>
  <%= @dispenser.description %>
</p>

<p>
  <b>Case:</b>
  <%= @dispenser.case %>
</p>

<p>
  <b>Weight:</b>
  <%= @dispenser.weight %>
</p>

<p>
  <b>Image:</b>
  <%= @dispenser.image %>
</p>


<%= link_to 'Edit', edit_dispenser_path(@dispenser) %> |
<%= link_to 'Back', dispensers_path %>
