<table class="table table-bordered">
  <thead class="info">
    <tr>
      <th>Stock#</th>
      <th>Description</th>
      <th>Case</th>
      <th>Weight</th>
      <th>Dispenser System</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.stocka %></td>
      <td><%= @product.desca %></td>
      <td><%= @product.casea %></td>
      <td><%= @product.weighta %></td>
      <td><%= @product.disp_categorya %></td>
    </tr>
    <tr>
      <td><%= @product.stockb %></td>
      <td><%= @product.descb %></td>
      <td><%= @product.caseb %></td>
      <td><%= @product.weightb %></td>
      <td><%= @product.disp_categoryb %></td>
    </tr>
    <tr>
      <td><%= @product.stockc %></td>
      <td><%= @product.descc %></td>
      <td><%= @product.casec %></td>
      <td><%= @product.weightc %></td>
      <td><%= @product.disp_categoryc %></td>
    </tr>
    <tr>
      <td><%= @product.stockd %></td>
      <td><%= @product.descd %></td>
      <td><%= @product.cased %></td>
      <td><%= @product.weightd %></td>
      <td><%= @product.disp_categoryd %></td>
    </tr>
    <tr>
      <td><%= @product.stocke %></td>
      <td><%= @product.desce %></td>
      <td><%= @product.casee %></td>
      <td><%= @product.weighte %></td>
      <td><%= @product.disp_categorye %></td>
    </tr>
    <tr>
      <td><%= @product.stockf %></td>
      <td><%= @product.descf %></td>
      <td><%= @product.casef %></td>
      <td><%= @product.weightf %></td>
      <td><%= @product.disp_categoryf %></td>
    </tr>
    <tr>
      <td><%= @product.stockg %></td>
      <td><%= @product.descg %></td>
      <td><%= @product.caseg %></td>
      <td><%= @product.weightg %></td>
      <td><%= @product.disp_categoryg %></td>
    </tr>
    <tr>
      <td><%= @product.stockh %></td>
      <td><%= @product.desch %></td>
      <td><%= @product.caseh %></td>
      <td><%= @product.weighth %></td>
      <td><%= @product.disp_categoryh %></td>
    </tr>
  </tbody>
</table>

