<%= simple_form_for(@product, html: {class: 'form-horizontal'}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="woodbine-product-new-header">
    <%= f.input :name, label: 'Enter Product Name', size:60, class: "name-input" %>
    <div class="woodbine-product-new-right">
    <%= f.select :category, options_for_select([['Lotion Hand Soaps'], ['Foam Soaps'], ['Hand Sanitizers'], ['Industrial Waterless Hand Cleaner'], ['Industrial Waterless Liquid Hand Cleaner'], ['Industrial Water-Activated Hand Cleaner']]), prompt: 'Select Category' %> 
  </div>
</div>
<div class="product-new-main-information">
  <div class="product-upload-left">
    <%= f.input :description, rows:8, cols:40, maxlength:400, label: "Enter Description", id: "description" %>
  </div>
  <div class="product-upload-right">
    <%= f.label :Add_Product_Image %>
    <%= f.file_field :image %><br><br>
    <%= f.label :Add_Product_MSDS %>
    <%= f.file_field :doc %>
  </div>
</div>
<div class="table-container">
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Stock#</th>
      <th>Description</th>
      <th>Case</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= f.text_field :stocka, placeholder: 'Stock#A' %></td>
        <td><%= f.text_field :desca,  placeholder: 'Description' %></td>
        <td><%= f.text_field :casea,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weighta,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow">
      <tr>
        <td><%= f.text_field :stockb, placeholder: 'Stock#B' %></td>
        <td><%= f.text_field :descb,  placeholder: 'Description' %></td>
        <td><%= f.text_field :caseb,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weightb,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow2">
      <tr>
        <td><%= f.text_field :stockc, placeholder: 'Stock#C' %></td>
        <td><%= f.text_field :descc,  placeholder: 'Description' %></td>
        <td><%= f.text_field :casec,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weightc,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow3">
      <tr>
        <td><%= f.text_field :stockd, placeholder: 'Stock#D' %></td>
        <td><%= f.text_field :descd,  placeholder: 'Description' %></td>
        <td><%= f.text_field :cased,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weightd,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow4">
      <tr>
        <td><%= f.text_field :stocke, placeholder: 'Stock#E' %></td>
        <td><%= f.text_field :desce,  placeholder: 'Description' %></td>
        <td><%= f.text_field :casee,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weighte,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
     <tbody class="newrow5">
      <tr>
        <td><%= f.text_field :stockf, placeholder: 'Stock#F' %></td>
        <td><%= f.text_field :descf,  placeholder: 'Description' %></td>
        <td><%= f.text_field :casef,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weightf,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow6">
      <tr>
        <td><%= f.text_field :stockg, placeholder: 'Stock#G' %></td>
        <td><%= f.text_field :descg,  placeholder: 'Description' %></td>
        <td><%= f.text_field :caseg,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weightg,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
    <tbody class="newrow7">
      <tr>
        <td><%= f.text_field :stockh, placeholder: 'Stock#H' %></td>
        <td><%= f.text_field :desch,  placeholder: 'Description' %></td>
        <td><%= f.text_field :caseh,  placeholder: 'Case PK' %></td>
        <td><%= f.text_field :weighth,placeholder: 'Weight' %></td>
      </tr>
    </tbody>
</table>
<div class="actions" style="margin-bottom:100px;">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Cancel', login_path, class: 'btn btn-danger' %>
  </div>
</div>
<% end %>
