<section class="woodbine-show-product">
<p id="notice"><%= notice %></p>
  <div class="woodbine-show-product-left">
    <%= image_tag @product.image_url.to_s, class: "product-image" %>
  </div>
  <div class="woodbine-show-product-right">
    <div class="product-bar">
      <span class="brand"><%= @product.name %></span>
    </div>
    <p><%= @product.description %></p>
    <div class="toggle-product-detail">
      <%= render 'buttons' %>
    </div>
  </div> 
 </section>

<script>
//  $('.collapse').collapse();
$('#myModal').modal('hide');
</script>
