<div class="navbar">
  <div class="navbar-inner">
    <div class="navbar-inner-container">
      <ul class="nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Who We Are', about_path %></li>
        <li><%= link_to 'MSDS', msds_path %></li>
        <li class="dropdown">
          <a id="drop1" data-toggle="dropdown" data-target="#" role="button" class="dropdown-toggle">Products<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Lotion Hand Soaps</a>
              <ul class="dropdown-menu">
                <%= render 'products/lotion' %>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Foam Soaps</a>
              <ul class="dropdown-menu">
                <%= render 'products/foam' %>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Hand Sanitizers</a>
              <ul class="dropdown-menu">
                <%= render 'products/hand' %>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Industrial Waterless Hand Cleaner</a>
              <ul class="dropdown-menu">
                <%= render 'products/ind_waterless_hand' %>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Industrial Waterless Liquid Hand Cleaner</a>
              <ul class="dropdown-menu">
                <%= render 'products/ind_waterless_liquid' %>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Industrial Water-Activated Hand Cleaner</a>
              <ul class="dropdown-menu">
                <%= render 'products/ind_water_activated' %>
              </ul>
            </li>


            <li class="divider"></li>
            <li><%= link_to "Dispensers", dispensers_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Private Label', private_label_path %></li>
        <li><%= link_to 'Resources', resources_path %></li>
        <li><%= link_to 'Get In Touch', contact_path %></li>
      </ul>
    </div>
  </div>
</div>



